.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.App-logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 40px;
}

.mockup-title {
  font-size: 3em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mockup-subtitle {
  font-size: 1.2em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 40px;
}

.mockup-wrapper {
  display: flex;
  justify-content: center;
}

.iphone-mockup {
  position: relative;
  width: 250px;
  height: 500px;
  margin: 0 20px;
}

.iphone-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iphone14-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
}

.iphone14-image {
  width: 100%;
  height: auto;
}

.is-second {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App-link {
  color: #61dafb;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.new-header{
  text-align: center;
  background-color: #eee;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .mockup-title {
    font-size: 2em;
  }

  .mockup-subtitle {
    font-size: 1em;
  }

  .iphone-mockup {
    width: 200px;
    height: 400px;
  }
}