body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background-color: #ddd;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

/* .Privacy-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
} */

.Privacy-logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.privacy-title {
  font-size: 2em;
}

.privacy-policy h1,
.privacy-policy h2 {
  color: #333;
}

.privacy-policy p {
  color: #555;
  line-height: 1.5;
}

.privacy-policy ol,
.privacy-policy ul {
  margin: 20px 0;
  padding-left: 20px;
}

.privacy-policy li {
  margin: 10px 0;
}
